body,
ul,
li,
dt,
dl,
dd,
a {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
}
body {
  background: #faf6ed;
  color: #222;
  -webkit-font-smoothing: antialiased;
  display: grid;
  grid-template-columns: 1fr 130px minmax(300px, 800px) 1fr;
}
.menu {
  grid-column: 3/5;
}
.menu ul {
  display: flex;
  margin: 2rem 0;
}
