.rodape {
  background-color: black;
  color: white;
}

.rodape-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px 80px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 140px 20px;
  position: relative;
}

.rodape-texto {
  font-size: 1.5rem;
}
.contatos {
  font-size: 2.25rem;
}

.rodape-container span {
  font-size: 1.125rem;
  color: #a3a3a3;
}

@media (max-width: 800px) {
  .rodape-texto {
    font-size: 1rem;
  }
  .contatos {
    font-size: 1.5rem;
  }
}

@media (max-width: 600px) {
  .rodape-container {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 40px;
    padding: 70px 10px;
  }
  .rodape-texto {
    font-size: 1rem;
  }
  .contatos {
    font-size: 1.5rem;
  }
}
