.depoimento-bg {
  background: var(--p1);
}
.depoimento {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  overflow: hidden;
  position: relative;
}

.depoimento-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0px;
}

.depoimento-conteudo {
  padding: 40px 80px;
  align-self: end;
  background: url("../../img/dec/bottom-right-p.svg") no-repeat bottom 40px
    right 40px;
}
.depoimento-conteudo p {
  font-family: "Merriweather";
  font-style: italic;
  font-weight: 900;
  margin-bottom: 32px;
  max-width: 32ch;
  position: relative;
}
.depoimento-conteudo p::before {
  content: "“";
  font-size: 5rem;
  color: var(--p2);
  position: absolute;
  left: -50px;
  top: -20px;
}
.depoimento-conteudo p::after {
  content: "”";
  font-size: 5rem;
  color: var(--p2);
  position: absolute;
}

@media (max-width: 800px) {
  .depoimento {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .depoimento-conteudo {
    padding: 20px 40px;
    justify-self: center;
  }
  .depoimento-img img {
    max-height: 250px;
  }
}
